.header {
  text-align: center;
  background-color: rgb(211, 211, 211);
}

.header-image {
  width: 100px;
}

.section-title {
  color: rgb(218, 165, 32);
}

.subsection-title {
  font-style: italic;
}

.border {
  border-bottom: 2px solid rgb(218, 165, 32);
}
